<a href="https://colab.research.google.com/github/TreshikaJ/ABD/blob/main/Untitled61.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np

In [ ]:
x1=np.array([0,0,1,1])
x2=np.array([0,1,0,1])
w1=1
w2=-1

In [ ]:
print(x1)
print(x2)

[0 0 1 1]
[0 1 0 1]

In [ ]:
def AND(x1,x2,w1,w2):
  x3=x1*w1+x2*w2
  result=np.where(x3<2,0,1)
  return result

In [ ]:
def OR(x1,x2,w1,w2):
  x3=x1*w1+x2*w2
  result=np.where(x3==0,0,1)
  return result

In [ ]:
def NAND(x1,x2,w1,w2):
  x3=x1*w1+x2*w2
  result=np.where(x3<2,1,0)
  return result

In [ ]:
def NOT(x1,x2):
  result=np.where(x3>0,0,1)
  return result

array([1, 0])

In [ ]:

def XOR(x1,x2):
  zin=x1-x2
  z2in=x2-x1
  z1=zin.where(zin<1,0,1)
  z2=z2in.where(z2in<1,0,1)
  yin=z1+z2
  y=yin
  return y

array([ 0,  1, -1,  0])